@{
    ViewData["Title"] = "Staff";
}

@model Project3_FinalExam.ViewModels.StaffViewModel

<h2>@Model.Title</h2>

@for (var i = 0; i < Model.Staff.Count; i++)
{
    <div class="row position-relative pt-3">
        <div class="col-sm-3">
            <div class="thumbnail" id=@String.Concat("myDiv:", i.ToString()) onclick="getName(id)">
                <img src="@Model.Staff[i].imagePath" style="height:200px;width:190px;cursor:pointer" alt="" />
            </div>
            <div class="caption">
                <h3 style="font-size:medium">
                    @Model.Staff[i].name
                </h3>
            </div>
        </div>
        @{
            if (i < Model.Staff.Count - 1)
            {
                i++;
            }
            else
            {
                break;
            }
        }
        <div class="col-sm-3">
            <div class="thumbnail" id=@String.Concat("myDiv:", i.ToString()) onclick="getName(id)">
                <img src="@Model.Staff[i].imagePath" style="height:200px;width:190px;cursor:pointer" alt="" />
            </div>
            <div class="caption">
                <h3 style="font-size:medium">
                    @Model.Staff[i].name
                </h3>
            </div>
        </div>
        @{
            if (i < Model.Staff.Count - 1)
            {
                i++;
            }
            else
            {
                break;
            }
        }
        <div class="col-sm-3">
            <div class="thumbnail" id=@String.Concat("myDiv:", i.ToString()) onclick="getName(id)">
                <img src="@Model.Staff[i].imagePath" style="height:200px;width:190px;cursor:pointer" alt="" />
            </div>
            <div class="caption">
                <h3 style="font-size:medium">
                    @Model.Staff[i].name
                </h3>
            </div>
        </div>
        @{
            if (i < Model.Staff.Count - 1)
            {
                i++;
            }
            else
            {
                break;
            }
        }
        <div class="col-sm-3">
            <div class="thumbnail" id=@String.Concat("myDiv:", i.ToString()) onclick="getName(id)">
                <img src="@Model.Staff[i].imagePath" style="height:200px;width:190px;cursor:pointer" alt="" />
            </div>
            <div class="caption">
                <h3 style="font-size:medium">
                    @Model.Staff[i].name
                </h3>
            </div>
        </div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
    </div>
}
<div id="dialog"></div>
@*Get jQuery and jQueryUI Scripts from wwwroot*@
<script src="~/jquery/jquery.js"></script>
<link rel="stylesheet" href="~/jqueryui/themes/base/jquery-ui.min.css">
<script src="~/jqueryui/jquery-ui.js"></script>
<script>
    var $j = jQuery.noConflict();
    var facultyData = @Html.Raw(Json.Serialize(Model.Staff));

    function getName(id) {
        console.log(facultyData);
        let facultyElement = (id).split(':')[1];

        var divContent = "<div><ul>";

        divContent += "<li><font color='#18ADEA'><b><u>Title:</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>" + facultyData[facultyElement].title + "</b></<li>"
        divContent += "<li><font color='#18ADEA'><b><u>Email:</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>" + facultyData[facultyElement].email + "</b></<li>"
        divContent += "<li><font color='#18ADEA'><b><u>Office:</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>" + facultyData[facultyElement].office + "</b></<li>";

        divContent += "</ul></div>";

        let elmnt = document.getElementById(id);
        $j("#dialog").html(divContent);
        $j("#dialog").dialog({
            title: facultyData[facultyElement].name,
            width: 500,
            position: { my: "center", at: "bottom+40%", of: elmnt },
            buttons: [
                {
                    text: "OK",
                    icons: {
                        primary: "ui-icon-heart"
                    },
                    click: function () {
                        $j("#dialog").dialog("close");
                    }
                }
            ]
        });
        $j("#dialog").dialog("open")
    }
</script>
